*.k
*.bat
*.inf
*.png
*.out
*.msg
*.SLDPRT
*.IGS
*.dyn
*.csv
binout
bndout
d3dump01
d3hsp
d3plot
d3plot01
d3plot02
eloutdet
glstat
*.cfile
lsrunid
messag
nodfor
nodout
fort.59
*.db
*.pyc
*.json
*.iges
console.log
*.out
*.pptx
.DS_Store
.vscode/settings.json
*lsrun.out.txt
*disk8
*part_des
*adptmp
*dyna.lsda
*dyna.bigid
*dbc_des
*notch_dbc_des
*d3msg
main_explicit.k
gen_post.cfile
copy2dir.py
MA_env.yaml
test.ipynb
.vscode/
.ipynb_checkpoints
__pycache__
*.xml
*.iml
*.pdf
*.svg
gen_mesh.cfile
*.xlsx
*.txt
*.STEP
experiment_data/stack_compression_test/rb_pred.py
Diagrams*
fit_polynominal*
*.yaml
*.jpg
yld2000/YLD2000-2d_realM_EN.py
experiment_data/tensile_test/tensile_average.py
modify_keyword.py
experiment_data/tensile_test/tensile_test.ipynb
fit_tri.ipynb
Mastersthesis/Vorlage_Masterarbeit.aux
Mastersthesis/Vorlage_Masterarbeit.lof
Mastersthesis/Vorlage_Masterarbeit.log
Mastersthesis/Vorlage_Masterarbeit.lot
Mastersthesis/Vorlage_Masterarbeit.sub
Mastersthesis/Vorlage_Masterarbeit.suc
Mastersthesis/Vorlage_Masterarbeit.syc
Mastersthesis/Vorlage_Masterarbeit.sym
Mastersthesis/Vorlage_Masterarbeit.synctex.gz
Mastersthesis/Vorlage_Masterarbeit.tex
Mastersthesis/Vorlage_Masterarbeit.toc
test.py
*.sdcproj
*.yml
*.nntxt
*.ini
*.nnp
*.npy
*node_des
